.about-us-section {
  padding: 50px 0;
  background-color: #cddbea;
  
  

}

.about-us-section h1,
.about-us-section h2 {
  color: #290d66;
}

.about-us-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-us-section .card {
  border: none;
  background-color: #accae9;
  
}

.about-us-section .btn-primary {
  background-color: #007bff;
  border: none;
}

.about-us-section .btn-primary:hover {
  background-color: #8599ae;
}

.about-us-mission{
  
}